.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background: rgb(219, 227, 255);
  font-family: monospace;
  white-space: pre-line;
  user-select: none;
  font-size: 14px;
  white-space: pre-line;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body * {
  border-radius: 10px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img {
  height: 45px;
  width: 45px;
}
.message p {
  word-break: break-word;
}
[name='content'] {
  max-width: 170px;
  min-height: 31px;
}
.message,
.generalWindow {
  box-shadow: 5px 5px 5px rgb(76 38 117 / 70%);
}
.message:hover,
input:hover,
textArea:hover,
button:hover {
  scale: 1.02;
  transition: 0.1s;
  cursor: pointer;
  background-image: linear-gradient(
    rgba(112, 82, 231, 0.2),
    rgba(9, 2, 106, 0.2)
  );
}
textArea {
  border: 1px solid black;
}
.title h1,
.title h2 {
  margin: 0;
}
