.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background: rgb(219, 227, 255);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body *{
  border-radius: 3px;
}
input[name="username"]{
  margin: 0 0 5px 24px;
  background: rgb(209, 200, 243);
}
[name="content"]{
  background: rgb(209, 200, 243);
  border: 1px solid black;
}
label[for="content"]{
  position: relative;
  bottom: 22px;
}
[data-button]{
  margin-top: 5px;
  background: rgb(209, 200, 243);
  width: 208px;
  float: right;
}
[data-window-user-one]{
  background: rgb(156, 129, 255);
  padding: 1rem;
  display: inline-block;
  position: absolute;
  bottom: 25px;
}
.generalWindow{
  height: 500px;
  display: inline-block;
  padding: 25px;
  background: rgb(53, 43, 92);
  position: relative;
}
img.userPic{
  border-radius: 5px;
  bottom: 15px;
  left: 17px;
  position: absolute;
  max-height: 45px;
}
.pastMessages{
  padding: 15px 15px 0 15px;
  background:rgb(219, 211, 253);
  width: 290px;
  height: 320px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}
.message{
  position: relative;
  padding: 5px;
  padding-right: 10px;
  background:rgb(180, 166, 240);
  display: flex;
  margin: 15px 0;
}
.message img{
  max-height: 45px;
  border-radius: 5px;
}
.message h5{
  margin: 0;
  position: absolute;
  top: 5px;
  left: 54px;
}
.message p{
  margin: 0;
  position: relative;
  margin-top: 15px;
  left: 5px;
}
.appWindow{
  margin-top: 100px;
  display:grid;
  place-content:center;
}
[name="imgurl"]{
  margin-left: 9px;
  background: rgb(209, 200, 243);
}
.pastMessages::-webkit-scrollbar, .img::-webkit-scrollbar {
  width: 10px;
  background: #b3a8f1;
}
.pastMessages::-webkit-scrollbar-track, .img::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.pastMessages::-webkit-scrollbar-thumb, .img::-webkit-scrollbar-thumb {
  background-color: rgb(111, 111, 170);
  border-radius: 5px;
  outline: 1px solid rgb(91, 108, 124);
}
/* tittle */
.title{
  text-align: center;
}