@media only screen and (min-width: 600px) {
  input[name="username"]{
    margin: 0 0 5px 24px;
    background: rgb(209, 200, 243);
  }
  [name="content"]{
    background: rgb(209, 200, 243);
    border: 1px solid black;
  }
  label[for="content"]{
    position: relative;
    bottom: 22px;
  }
  [data-button] {
    margin-top: 5px;
    background: rgb(209, 200, 243);
    width: 150px;
    float: left;
    position: relative;
    left: 82px;
  }
  [data-window-user-one]{
    background: rgb(156, 129, 255);
    padding: 1rem;
    display: inline-block;
    width: 287px;
    bottom: 25px;
    position: relative;
    top: 30px;
    min-height: 100px;
  }
  .generalWindow{
    display: inline-block;
    padding: 25px;
    background: rgb(53, 43, 92);
    position: relative;
    padding-bottom: 55px;
  }
  img.userPic{
    border-radius: 5px;
    bottom: 15px;
    left: 17px;
    position: absolute;
    max-height: 45px;
  }
  .pastMessages{
    padding: 15px 15px 0 15px;
    background:rgb(219, 211, 253);
    width: 290px;
    height: 320px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
  }
  .message{
    position: relative;
    padding: 5px;
    padding-right: 10px;
    background:rgb(180, 166, 240);
    display: flex;
    margin: 15px 0;
  }
  .message img{
    max-height: 45px;
    border-radius: 5px;
  }
  .message h5{
    margin: 0;
    position: absolute;
    top: 5px;
    left: 54px;
  }
  .message p{
    margin: 0;
    position: relative;
    margin-top: 15px;
    left: 5px;
  }
  .appWindow{
    margin-top: 100px;
    display:grid;
    place-content:center;
  }
  [name="imgurl"]{
    margin-left: 9px;
    background: rgb(209, 200, 243);
  }
  .pastMessages::-webkit-scrollbar, .img::-webkit-scrollbar {
    width: 10px;
    background: #b3a8f1;
  }
  .pastMessages::-webkit-scrollbar-track, .img::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .pastMessages::-webkit-scrollbar-thumb, .img::-webkit-scrollbar-thumb {
    background-color: rgb(111, 111, 170);
    border-radius: 5px;
    outline: 1px solid rgb(91, 108, 124);
  }
  .bigSendButton{
    display: none;
  }
  /* tittle */
  .title{
    text-align: center;
  }
}

@media only screen and (min-width: 1000px) {
  .pastMessages{
    width: 490px;
  }
  .bigSendButton{
    display: initial;
    margin-top: 15px;
    width: 180px;
    height: 150px;
    font-size: 30px;
    background: rgb(186, 172, 236);
  }
  .smallSendButton{
    display: none;
  }
  [data-button]{
    margin-top: 28px;
    height: 134px;
    background: rgb(209, 200, 243);
    width: 180px;
    float: right;
    position: initial;
  }
  .generalWindow{
    padding-bottom: 25px;
  }
  [data-window-user-one]{
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 1300px) {
  .pastMessages{
    width: 1090px;
  }
  .bigSendButton{
    width: 780px;
  }
  .generalWindow{
    padding-bottom: 25px;
  }
  [data-window-user-one]{
    margin-bottom: 30px;
  }
}